body{
font-family: 'The Nautigal', cursive;
background-color: darkorange;
text-align: center;
}
.header_div{
background-color: cyan;
color: black;
}
.header_div p{
font-family: 'Comforter Brush', cursive;
color: black;
letter-spacing: 2px;
font-size: 15px;
font-weight: bolder;
}
.main_div button{
font-family: 'Monoton', cursive;
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;
}
.copy_right_footer{
position: fixed;
color: rgb(1, 24, 32);
bottom: 0;
width: 100%;
font-size: 20px;
background-color: lightcyan;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px black;
}